-content_for(:title){ 'Home' }
-content_for(:page_title){ 'Home' }


.bootstrap-admin-panel-content.bootstrap-admin-no-table-panel-content.collapse.in
  .col-md-3
    - r = rand(100)
    .easyPieChart{"data-percent" => "#{r}", :style => "width: 110px; height: 110px; line-height: 110px;"}
      #{r}%
      %canvas{:height => "110", :width => "110"}
    .chart-bottom-heading
      %span.label.label-info Visitors
  .col-md-3
    - r = rand(100)
    .easyPieChart{"data-percent" => "#{r}", :style => "width: 110px; height: 110px; line-height: 110px;"}
      #{r}%
      %canvas{:height => "110", :width => "110"}
    .chart-bottom-heading
      %span.label.label-info Page Views
  .col-md-3
    - r = rand(100)
    .easyPieChart{"data-percent" => "#{r}", :style => "width: 110px; height: 110px; line-height: 110px;"}
      #{r}%
      %canvas{:height => "110", :width => "110"}
    .chart-bottom-heading
      %span.label.label-info Users
  .col-md-3
    - r = rand(100)
    .easyPieChart{"data-percent" => "#{r}", :style => "width: 110px; height: 110px; line-height: 110px;"}
      #{r}%
      %canvas{:height => "110", :width => "110"}
    .chart-bottom-heading
      %span.label.label-info Orders




